<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<head>
    <title>Y.V.S App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
</head>

<body>
    
        
        <div class="homeS-buttons">
        	<button class="btn btn-lg btn-primary btn-block" type="submit">Get Statistic</button>

            
        </div>

        
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
</body>

</html>