<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<!DOCTYPE html>
<html>

<head>
    <title>Group 3 App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
</head>

<body>
    <div class="home-container">
                <img src="/images/course board@2x.png" class="card-img-top"  style="padding: 20px">

        
        <div class="homeS-buttons">

            
        </div>

        
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
</body>

</html>